@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Kode+Mono:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syne:wght@400..800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #0b372dbb;
}
body {
  font-family: "Poppins", sans-serif;
  /* background-color: #333; */
}

.logo {
  width: 100px;
}

header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0.9em 0;
  top: 0;
  left: 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

header nav {
  /* background-color: red; */
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header ul a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.38em; /*80.38*/
}

.seacrh a {
  font-size: 1.05;
  padding: 0 3em;
}

.hamburger {
  padding-left: 1.5rem;
}

.hamburger a {
  padding: 0;
  width: 37px;
  height: 37px;
  display: flex;
  border-radius: 50%;
  background-color: rgb(115, 115, 115, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  justify-content: center;
  align-items: center;
}

.hamburger .bar {
  position: relative;
  width: 52%;
  height: 1.3px;
  background-color: #fff;
  border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 60%;
  height: 100%;
  background-color: inherit;
  border-radius: 2px;
}

.hamburger .bar::before {
  top: -4.5px;
}

.hamburger .bar::after {
  top: 5.5px;
}

main {
  position: relative;
  background-color: #353;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#bg-img {
  position: absolute;
  z-index: 1;
  width: 2400px;
  top: calc(50% - 300px);
  left: calc(50% + -10px);
}

#fog_7 {
  position: absolute;
  z-index: 2;
  width: 1900px;
  top: calc(50% - 10px);
  left: calc(50% + 300px);
}

#mountain_10 {
  position: absolute;
  z-index: 3;
  width: 850px;
  top: calc(50% + 50px);
  left: calc(50% + 150px);
}

#fog_6 {
  position: absolute;
  z-index: 4;
  width: 1410px;
  top: calc(50% + 62px);
  left: calc(50% + 20px);
}

#mountain_9 {
  position: absolute;
  z-index: 5;
  width: 390px;
  top: calc(50% + 113px);
  left: calc(50% - 415px);
}

#mountain_8 {
  position: absolute;
  z-index: 6;
  width: 610px;
  top: calc(50% + 70px);
  left: calc(50% - 202px);
}

#fog_5 {
  position: absolute;
  z-index: 7;
  width: 450px;
  top: calc(50% + 160px);
  left: calc(50% + 200x);
}

#mountain_7 {
  position: absolute;
  z-index: 8;
  width: 538px;
  top: calc(50% + 123px);
  left: calc(50% + 225px);
}

#text {
  position: absolute;
  z-index: 9;
  top: calc(50% - 20%);
  left: 50%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  pointer-events: auto;
}

#text h2 {
  font-weight: 100;
  font-size: 4.5rem;
  line-height: 0.88;
}

#text {
  font-weight: 800;
  font-size: 2.2rem;
  line-height: 0.88;
}

#mountain_6 {
  position: absolute;
  z-index: 10;
  width: 408px;
  top: calc(50% + 60px);
  left: calc(50% + 500px);
}

#fog_4 {
  position: absolute;
  z-index: 11;
  width: 590px;
  top: calc(50% + 223px);
  left: calc(50% - 60px);
}

#mountain_5 {
  position: absolute;
  z-index: 10;
  width: 625px;
  top: calc(50% + 250px);
  left: calc(50% + 130px);
}

#fog_3 {
  position: absolute;
  z-index: 11;
  width: 1600px;
  top: calc(50% + 110px);
  left: calc(50% - 15px);
}

#mountain_4 {
  position: absolute;
  z-index: 12;
  width: 750px;
  top: calc(50% + 196px);
  left: calc(50% - 370.5px);
}
#mountain_3 {
  position: absolute;
  z-index: 13;
  width: 500px;
  top: calc(50% + 196px);
  left: calc(50% + 600px);
}

#mountain_3 {
  position: absolute;
  z-index: 14;
  width: 500px;
  top: calc(50% + 26px);
  left: calc(50% + 650px);
}

#fog_2 {
  position: absolute;
  z-index: 15;
  width: 900px;
  top: calc(50% + 200px);
  left: calc(50% - 15px);
}

#mountain_2 {
  position: absolute;
  z-index: 16;
  width: 600px;
  top: calc(50% + 110px);
  left: calc(50% + 350px);
}

#mountain_1 {
  position: absolute;
  z-index: 17;
  width: 500px;
  top: calc(50% + 110px);
  left: calc(50% - 550px);
}

#sun_rays {
  position: absolute;
  z-index: 18;
  top: 0;
  right: 0;
  width: 595px;
}

#black_shadow {
  position: absolute;
  z-index: 19;
  bottom: 0;
  right: 0;
  width: 100%;
}

#fog_2 {
  position: absolute;
  z-index: 20;
  width: 1360px;
  top: calc(100% -300px);
  left: 50%;
}

#parallax {
  transform: translate(-50%, -50%);
}

#vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 65%,
    rgba(0, 0, 0, 0.7)
  );
}


.scrolling {
  height: vh;
}