* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 30px 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    /* background-color: bisque; */
}

.logo {
    font-size: 2em;
    color: #359381;
    margin-right: 270px;
}

.navigation {
    display: none;
}

/*! hero parallax */
#parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about {
    height: 300vh;
    background-color: #003329;
}

#text {
    position: absolute;
    font-size: 2em;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    top: 40%;
}
.container-about {
    margin: 100px 5%;
    background-color: red;
}
.wrap-img {
    width: 100%;
}
.wrap-img img{
    width: 100%;
}

.card-one {
    width: 28%;
    background-color: bisque;
    padding: 10px;
    border-radius: 12px;
}
@media(min-width:391px) {
    .navigation {
        display: block;
    }

    .navigation a {
        /* background-color: blueviolet; */

        text-decoration: none;
        color: #359381;
        padding: 6px 15px;
        border-radius: 20px;
        margin: 0 10px;
        font-weight: 600;
    }

    .navigation a:hover,
    .navigation a.active {
        background: #359381;
        color: #fff;
    }

    #text{
        font-size: 5em;
    }

}